* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  list-style-type: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

body {
  background: #000;
}
